.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.31rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 90%;
  height: 6.25rem;
  border: 2px solid var(--blue-100);
  background-color: var(--grey-blue-700);
  border-radius: 1.875rem;
}

.divLogoHeader {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10rem;
}
.divLogoHeader h2 {
  margin-top: 4px;
}

.divInputHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 40%;
}

.avatar {
  width: 4.28819rem;
  height: 4.0625rem;
  border: 3px solid var(--green-200);
  border-radius: 62.5rem;
}

.searchBar {
  width: 26.5rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  border: 2px solid var(--blue-100);

  padding: 0 15px;
  background-color: var(--grey-blue-300);
  font-family: Candal;
  font-size: 1.3rem;
  outline: none;
}

.searchBar::placeholder {
  color: var(--white-100);
}

.divWindom {
  margin-top: 1rem;
  width: 100%;
  height: 48rem;
  border: 2px solid var(--blue-100);
  background-color: var(--grey-blue-700);
  border-radius: 1.875rem;
  padding: 30px;
}

.mainContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
}

.divWindomHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.iconWindomHeader {
  width: 2rem;
  height: 2rem;
  transition: 0.2s ease;
}

.iconWindomHeader:hover {
  transform: scale(1.3);
}

.buttonWindomHeader {
  background-color: transparent;
  border: transparent;
  color: var(--white-100);
  cursor: pointer;
}

.textWindomHeader {
  color: var(--white-100);
  text-align: end;
  font-size: 2rem;
}

.line {
  width: auto;
  background-color: var(--white-100);
  height: 0.0625rem;
  margin-top: 10px;
}

.wrapperCards {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.divCard {
  display: flex;
  align-items: center;

  flex-direction: column;
  background: var(--grey-blue-900);
  border-radius: 1.25rem;
  border: 1px solid var(--blue-100);
  overflow: hidden;
  height: 17rem;
  width: 15rem;
}

.cover {
  width: 100%;
  height: 7rem;
  object-fit: cover;
  border-radius: 1px;
}

.lineCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 0.0625rem;
  background-color: var(--grey-blue-700);
  margin: 20px;
}

.profileCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.nameCard {
  color: var(--white-100);

  text-align: center;
  font-size: 1.25rem;
}

.courseCard {
  color: var(--grey-blue-300);
  /*color: var(--lightPurple-100);*/
  margin-top: 10px;
  font-size: 1.25rem;
}

.avatarCard {
  width: 6rem;
  height: 6rem;
  border: 3px solid var(--green-200);
  border-radius: 62.5rem;
  margin-top: -4rem;
}
