.container {
  display: flex;
  justify-content: center;
align-itens: center;
  width: 85rem;
  height: 59.375rem;
  border-radius: 1.875rem;
  background: var(--grey-blue-900);
}

.boxLogin {
  width: 46.9375rem;
  height: 43.25rem;
}

.inputBox {
  width: 19.6875rem;
  height: 5rem;
}

.button {
  width: 10.625rem;
  height: 4.26138rem;
}
