.body {
  background-image: linear-gradient(
    -40deg,
    var(--grey-blue-900),
    var(--grey-blue-300),
    var(--grey-blue-900)
  );
}

.headerStyle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  height: 100px;
  width: 85%;
  font-size: 1.5rem;
}

.containerSignUp {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 50px;
  height: 50px;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 40rem;
  border-radius: 1rem;
  background: var(--grey-blue-900);
  border: 3px solid var(--white-100);
  gap: 30px;
  padding: 20px;
  position: relative;
  transition-duration: 3s;
}

.h1Recover {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1Recover h1 {
  font-size: 2.5rem;
}

.iconRecover {
  width: 2rem;
  height: 2rem;
}

.buttonIconRecover {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.buttonIconRecover:hover {
  transform: scale(1.3);
}

.recoverPassword {
  width: 50%;
  height: 413px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: var(--grey-blue-700);
}

.formRecover {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textRecover {
  font-size: 24px;
  font-weight: 700;
  font-family: manrope;
  margin-left: 20px;
}

.inputRecover {
  width: 100%;
  height: 41px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: var(--grey-blue-300);
  font-size: 1rem;
  color: var(--grey-blue-900);
}

.pRecover {
  align-items: center;
  font-size: 12px;
  margin: 5px;
}

.divButtonRecover {
  display: flex;
  justify-content: end;
}

.buttonRecover {
  width: 90px;
  height: 3rem;
  margin-top: 30px;
  border-radius: 0.5rem;
  border: 1px solid var(--blue-100);
  background-color: var(--blue-royal-500);
  color: var(--white-100);
  font-family: Candal;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.buttonRecover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--white-100);
}

/* .triangle {
  display: inline-block;

  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-top: 100px solid #949396;
}
 */

.divCod {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.inputRecoverCod {
  width: 48px;
  height: 58px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: var(--grey-blue-300);
  font-size: 1rem;
  color: var(--grey-blue-900);
}

.buttonIconRecover2 {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.pRecover2 {
  align-items: center;
  font-size: 12px;
  margin: 5px;
  text-align: center;
}

.recoverPassword {
  transition: opacity 0.5s ease-in-out;
}

.recoverPassword.hidden {
  display: none;
}
