.contentAddStudents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textAddStudents {
  color: var(--white-100);
  font-size: 1.5625rem;
}

.contentBoxEmail {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.contentEmail {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
  height: 3.125rem;
  border-radius: 0.9375rem;
  border: none;
  background: var(--grey-blue-300);
  color: var(--white-100);
  font-size: 1.375rem;
}

.lineModal {
  width: 43.75rem;
  background-color: var(--white-100);
  height: 0.0625rem;
  margin-top: 10px;
}

.divButtonAddStudents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAddStudents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-royal-500);
  padding: 10px 8px 10px 3px;
  border-radius: 1rem;
  border: 1px solid var(--blue-100);
  color: var(--white-100);
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
}

.textButtonStudents {
  font-size: 1.5rem;
}
