:root {
  --white-200: #ededee;
  --black-800: #090b10;

  --blue-100: #01c4e7;
  --blue-royal-200: #0449e9;
  --blue-royal-300: #074dea;
  --blue-royal-400: #1a429c;
  --blue-royal-500: #2b52a1;

  --grey-blue-300: #8893b0;
  --grey-blue-700: #4c535f;
  --grey-blue-900: #313846;

  /*font-family: Manrope, Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-itens: center;
  background-color: var(--grey-blue-700);
  color: var(--white-200);
  text-decoration: none;
}
