.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.box-modulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 13rem;
  height: 3rem;
  border-radius: 1.25rem;
  /*   border: 2px solid var(--blue-100);
 */
  background: var(--grey-blue-900);
  color: var(--white-100);
  gap: 1.5rem;
  cursor: pointer;
  border: none;

  display: flex;
  border: 1px solid var(--white-100);
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: 0.2s ease;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 4px 12px;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--white-100);
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.no-modules-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

.line {
  width: auto;
  background-color: var(--white-100);
  height: 0.0625rem;
  margin-top: 10px;
}

.box-lista {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 85%;
}

.card {
  background: var(--grey-blue-300);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 50%;
  color: white;

  transition: 0.2s ease;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  cursor: pointer;
  box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 4px 12px;
}

.card:hover {
  transform: scale(1);
  box-shadow: 0 0 10px var(--grey-blue-300);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.module-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.progress-bar {
  background: #e0e0e0;
  border-radius: 4px;
  height: 8px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  background: var(--blue-royal-400);
  height: 100%;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  font-size: 14px;
  color: var(--grey-blue-700);
  margin-top: 8px;
}
