.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.31rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 90%;
  height: 6.25rem;
  border: 2px solid var(--blue-100);
  border-radius: 1.875rem;
  background-color: var(--grey-blue-700);
}

.logoHomePage {
  text-decoration: none;
  font-size: 3rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: white;
  border: none;
}

.divLogoHeader {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10rem;
}
.divLogoHeader h2 {
  margin-top: 4px;
}

.divInputHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 40%;
}

.searchBar {
  width: 26.5rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  border: 2px solid var(--blue-100);

  padding: 0 15px;
  background-color: var(--grey-blue-300);
  font-family: Candal;
  font-size: 1.3rem;
  outline: none;
}

.searchBar::placeholder {
  color: var(--white-100);
}

.divNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 15%;
  height: 48rem;
  background-color: var(--grey-blue-700);
  border: 2px solid var(--blue-100);
  border-radius: 1.875rem;
}

.divWindom {
  margin-top: 1rem;
  padding: 20px;
  width: 85%;
  height: 48rem;
  background: var(--grey-blue-700);
  border: 2px solid var(--blue-100);
  border-radius: 1.875rem;
}

.mainContent {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 1rem;
}

.buttonContent {
  width: 13.9375rem;
  height: 3.5rem;
  border-radius: 1.25rem;
  /*   border: 2px solid var(--blue-100);
 */
  background: var(--grey-blue-900);
  color: var(--white-100);
  gap: 1.5rem;
  cursor: pointer;
  border: none;

  display: flex;
  padding-left: 15px;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.2s ease;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 4px 12px;
}

.buttonContent:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--white-100);
}
